---
import Layout from "../layouts/Layout.astro";
import BookmarkNav from "../components/BookmarkNav.astro";
import Card from "../components/card.astro";
import CommandLine from "../components/commandLine.astro";
---

<Layout title="Welcome to your startpage.">
  <main class="content">
    <BookmarkNav />
    <Card />
    <CommandLine />
  </main>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1024px;
  }

  @media (max-width: 1040px) {
    .content {
      gap: 1.5rem;
      padding-bottom: 5.5rem;
    }
  }
</style>
